# Enviroment Setup

In [1]:
import conda
import pandas as pd
#!pip install ipython-sql #

Requirement already satisfied: ipython-sql in /Users/bayarjargalbatjargal/opt/anaconda3/lib/python3.8/site-packages (0.4.0)
Requirement already satisfied: six in /Users/bayarjargalbatjargal/opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: sqlparse in /Users/bayarjargalbatjargal/opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in /Users/bayarjargalbatjargal/opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in /Users/bayarjargalbatjargal/opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (7.22.0)
Requirement already satisfied: prettytable<1 in /Users/bayarjargalbatjargal/opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in /Users/bayarjargalbatjargal/opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (1.4.7)
Requirement already satisfied: pickleshare in /Users/bayarjargalbatjargal/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: pygments in /Users/bayarjargalbatjargal/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (2.8.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/bayarjargalbatjargal/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (3.0.17)
Requirement already satisfied: decorator in /Users/bayarjargalbatjargal/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (5.0.6)
Requirement already satisfied: traitlets>=4.2 in /Users/bayarjargalbatjargal/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: setuptools>=18.5 in /Users/bayarjargalbatjargal/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (52.0.0.post20210125)
Requirement already satisfied: appnope in /Users/bayarjargalbatjargal/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: pexpect>4.3 in /Users/bayarjargalbatjargal/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: jedi>=0.16 in /Users/bayarjargalbatjargal/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: backcall in /Users/bayarjargalbatjargal/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /Users/bayarjargalbatjargal/opt/anaconda3/lib/python3.8/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: ptyprocess>=0.5 in /Users/bayarjargalbatjargal/opt/anaconda3/lib/python3.8/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /Users/bayarjargalbatjargal/opt/anaconda3/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in /Users/bayarjargalbatjargal/opt/anaconda3/lib/python3.8/site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.0.0)

ipython-sql introduces a %sql (or %%sql) magic to your notebook allowing you to connect to a database, using SQLAlchemy connect strings, then issue SQL commands within IPython or IPython Notebook

In [2]:
# The ipython-sql library is loaded using
%load_ext sql

In [3]:
#!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Users/bayarjargalbatjargal/opt/anaconda3/lib/python3.8/site-packages (1.4.7)
Requirement already satisfied: greenlet!=0.4.17 in /Users/bayarjargalbatjargal/opt/anaconda3/lib/python3.8/site-packages (from sqlalchemy) (1.0.0)

SQLAlchemy is a library that facilitates the communication between Python programs and databases. Most of the times, this library is used as an Object Relational Mapper (ORM) tool that translates Python classes to tables on relational databases and automatically converts function calls to SQL statements.

In [4]:
#!pip install pymysql

Requirement already satisfied: pymysql in /Users/bayarjargalbatjargal/opt/anaconda3/lib/python3.8/site-packages (1.0.2)

PyMySQL is an interface for connecting to a MySQL database server from Python. It implements the Python Database API v2. 0 and contains a pure-Python MySQL client library. The goal of PyMySQL is to be a drop-in replacement for MySQLdb.

# Connect notebook to MySQL Database

Create engine

In [45]:
from sqlalchemy import create_engine

# The admin ID
rds_user = "root"

# The host name 
rds_host = "localhost"

# This is standard
rds_port = 3306

# The password 
rds_password = "Bayar123$"

db_data = 'mysql+pymysql://' + rds_user + ':' + rds_password + '@' + rds_host + ':'+ str(rds_port) +'/'
engine = create_engine(db_data)
engine

Engine(mysql+pymysql://root:***@localhost:3306/)

# Load CSV to Pandas DataFrame

In [6]:
csv_files = ['CovidDeaths', 'CovidVaccinations']
dfs = {}
for f in csv_files:
    fn = f + ".csv"

    df= pd.read_csv(fn)

    dfs[f] = df

    print("Loaded file " + f)

Loaded file CovidDeaths
Loaded file CovidVaccinations

Test

In [36]:
for k,v in dfs.items():
    print ("\n\n************* Data for dataframe = ", k, "*************\n")
    print (v.head(1))

************* Data for dataframe =  CovidDeaths *************

  iso_code continent     location        date  population  total_cases  \
0      AFG      Asia  Afghanistan  2020-02-24  39835428.0          5.0

   new_cases  new_cases_smoothed  total_deaths  new_deaths  ...  \
0        5.0                 NaN           NaN         NaN  ...

   new_deaths_smoothed_per_million  reproduction_rate  icu_patients  \
0                              NaN                NaN           NaN

   icu_patients_per_million  hosp_patients  hosp_patients_per_million  \
0                       NaN            NaN                        NaN

   weekly_icu_admissions  weekly_icu_admissions_per_million  \
0                    NaN                                NaN

   weekly_hosp_admissions  weekly_hosp_admissions_per_million
0                     NaN                                 NaN

[1 rows x 26 columns]


************* Data for dataframe =  CovidVaccinations *************

  iso_code continent     location        date  new_tests  total_tests  \
0      AFG      Asia  Afghanistan  2020-02-24        NaN          NaN

   total_tests_per_thousand  new_tests_per_thousand  new_tests_smoothed  \
0                       NaN                     NaN                 NaN

   new_tests_smoothed_per_thousand  ...  female_smokers  male_smokers  \
0                              NaN  ...             NaN           NaN

  handwashing_facilities  hospital_beds_per_thousand  life_expectancy  \
0                 37.746                         0.5            64.83

   human_development_index  excess_mortality_cumulative_absolute  \
0                    0.511                                   NaN

   excess_mortality_cumulative  excess_mortality  \
0                          NaN               NaN

   excess_mortality_cumulative_per_million
0                                      NaN

[1 rows x 45 columns]

# Read the DataFrame to Sql

Create new schema for CSV file.

In [8]:
sql = 'SELECT SCHEMA_NAME FROM INFORMATION_SCHEMA.SCHEMATA'
listSchema = pd.read_sql(sql, engine)
listSchema

           SCHEMA_NAME
0                mysql
1   information_schema
2   performance_schema
3                  sys
4    lahmansbaseballdb
5   lahmansdb_to_clean
6                Foods
7        hospital_bill
8      F21W4111Midterm
9          HW3_IMDBRaw
10       HW3_IMDBFixed
11       classicmodels
12  classicmodels_star
13                RACI
14           CovidData

In [9]:
schema = "CovidData"
conn = engine.connect()
if listSchema['SCHEMA_NAME'].str.contains('CovidData').any():
    pass
else:
    sql = "create schema " + schema   
    res = conn.execute(sql)
    res

 Read the DataFrames to SQL.

In [10]:
for table_name, data_frame in dfs.items():

    data_frame.to_sql(name=table_name, con=engine, if_exists='replace', schema='CovidData')

    print("Created and loaded table = ", table_name)

Created and loaded table =  CovidDeaths
Created and loaded table =  CovidVaccinations

# Create one table from another in SQL

In [11]:
# reconnect to the desired database
%reload_ext sql
%sql mysql+pymysql://root:Bayar123$@localhost/CovidData

Deriving the total people_vaccinated count of each countries from CovidVaccinations.

Then adding that column to CovidDeaths table using a common column 'location'.

From the joined table, selected few columns and also derived vaccination_rate of each countries.

%%sql
Drop table if exists Countries
Create table Countries
(
    iso_code char(10) not null primary key,
    location varchar(128) not null,
    continent varchar(128),
    population bigint,
    people_vaccinated bigint,
    vaccination_rate float
)

insert into Countries
with CTE as
(
    select distinct location, max(people_vaccinated) as people_vaccinated
    from CovidVaccinations
    group by location
)
select distinct a.iso_code, a.location,  a.continent, a.population, CTE.people_vaccinated,
               ( CTE.people_vaccinated/a.population)*100 as vaccination_rate
from CovidDeaths a
join CTE on a.location=CTE.location

Test:

In [30]:
%%sql 
select *
from Countries
where continent is null
order by population desc

 * mysql+pymysql://root:***@localhost/CovidData
13 rows affected.

[('OWID_WRL', 'World', None, 7874965730, 4922821028, 62.5123),
 ('OWID_ASI', 'Asia', None, 4678444992, 3370765900, 72.0489),
 ('OWID_LMC', 'Lower middle income', None, 3330652550, 1874330403, 56.2752),
 ('OWID_UMC', 'Upper middle income', None, 2513672790, 2014894750, 80.1574),
 ('OWID_AFR', 'Africa', None, 1373486472, 243691508, 17.7425),
 ('OWID_HIC', 'High income', None, 1214930230, 953887286, 78.5137),
 ('OWID_EUR', 'Europe', None, 748962983, 506807372, 67.6679),
 ('OWID_LIC', 'Low income', None, 665149040, 79672554, 11.9782),
 ('OWID_NAM', 'North America', None, 596581283, 420935040, 70.5579),
 ('OWID_EUN', 'European Union', None, 447189915, 335049868, 74.9234),
 ('OWID_SAM', 'South America', None, 434260137, 352193916, 81.1021),
 ('OWID_OCE', 'Oceania', None, 43219954, 28427292, 65.7735),
 ('OWID_INT', 'International', None, None, None, None)]

Used case statement to create a new column 'poverty_level' conditioned on 'extreme_poverty'.

%%sql
Drop table if exists CountryIndicators
Create table CountryIndicators
(
    iso_code char(10) not null primary key,
    location varchar(128) not null,
    population_density float,
    median_age float,
    aged_65_older float,
    aged_70_older float,
    gdp_per_capital float,
    extreme_poverty float,
    cardiovasc_death_rate float,
    female_smokers float,
    male_smokers float,
    life_expectancy float,
    poverty_level enum('high', 'low')
)

insert into CountryIndicators

select distinct iso_code, location, population_density, median_age, aged_65_older,           aged_70_older, gdp_per_capita, extreme_poverty, cardiovasc_death_rate, female_smokers, male_smokers, life_expectancy,
        case
        when 100 > extreme_poverty >= 30 then 'high'
        when 0 < extreme_poverty < 30 then 'low'
        end
        as poverty_level
from CovidVaccinations

Test:

In [42]:
%%sql
select a.continent, max(extreme_poverty) as highest_poverty
from Countries a
join CountryIndicators b
using (iso_code)
group by a.continent
order by highest_poverty desc

 * mysql+pymysql://root:***@localhost/CovidData
7 rows affected.

[('Africa', 77.6),
 ('Asia', 30.3),
 ('Oceania', 25.1),
 ('North America', 23.5),
 (None, 10.0),
 ('South America', 7.1),
 ('Europe', 5.7)]

# Data Clean up using Update table

Convert empty strings to NULL value.

In [ ]:
%% sql UPDATE batting SET GIDP= NULL where GIDP='';

In [67]:
%%sql
select iso_code, location, continent
from CovidData.Countries 
where location like'%country%'

 * mysql+pymysql://root:***@localhost/CovidData
1 rows affected.

[('FSM', 'Micronesia (country)', 'Oceania')]

%%sql 
update CovidData.Countries
    set location ='Micronesia'
    where location = 'Micronesia (country)'

In [65]:
%%sql
select iso_code, location, continent
from CovidData.Countries
where iso_code like'%OWID_%'

 * mysql+pymysql://root:***@localhost/CovidData
14 rows affected.

[('Africa', None),
 ('Asia', None),
 ('European Union', None),
 ('Europe', None),
 ('High income', None),
 ('International', None),
 ('Kosovo', 'Europe'),
 ('Low income', None),
 ('Lower middle income', None),
 ('North America', None),
 ('Oceania', None),
 ('South America', None),
 ('Upper middle income', None),
 ('World', None)]

%%sql
update CovidData.Countries
    set iso_code ='KOS'
    where iso_code = 'OWID_KOS'

# Foreign Key, Trigger, Index

## Foreign Key using Cascade Referential Action

Create foreign key using alter table

_Foreign key relationships involve a parent table that holds data values that is identical as child table. It identifies the relationship between the database tables. They act as a cross-reference between tables._

Any attempt to delete and/or update the parent will fail throwing an error in MYSQL. This is the default behaviour in the event that a referential action is not explicitly specified. However, if want to specify:

- ON DELETE CASCADE means that if the parent record is deleted, any child records are also deleted

- ON UPDATE CASCADE means that if the parent primary key is changed, the child value will also change to reflect that

- ON UPDATE CASCADE ON DELETE CASCADE means that if you UPDATE OR DELETE the parent, the change is cascaded to the child

%%sql
alter table CountryIndicators
add foreign key (iso_code) references Countries (iso_code)
on update cascade

In [61]:
%%sql
select table_name, constraint_name, referenced_table_name
from  information_schema.key_column_usage
where referenced_table_schema = 'CovidData'
    and referenced_table_name = 'Countries'

 * mysql+pymysql://root:***@localhost/CovidData
1 rows affected.

[('CountryIndicators', 'countryindicators_ibfk_1', 'Countries')]

In [62]:
%%sql
select table_name, constraint_name, referenced_table_name
from  information_schema.referential_constraints
where constraint_schema = 'CovidData'
    and referenced_table_name = 'Countries'
    and update_rule = 'CASCADE'

 * mysql+pymysql://root:***@localhost/CovidData
1 rows affected.

[('CountryIndicators', 'countryindicators_ibfk_1', 'Countries')]

alter table CountryIndicators
drop foreign key countryindicators_ibfk_1

## Trigger

_A trigger is a set of SQL statement that automatically executed whenever any special event occurs in the database, such as insert, delete, update, etc. It cannot be called from store procedure or function, and a parameter cannot be pass. It never return value on execution._

In [69]:
%%sql
select *
from information_schema.triggers
limit 1

 * mysql+pymysql://root:***@localhost/CovidData
1 rows affected.

[('def', 'sys', 'sys_config_insert_set_user', 'INSERT', 'def', 'sys', 'sys_config', 1, None, 'BEGIN\n    IF @sys.ignore_sys_config_triggers != true AND NEW.set_by IS NULL THEN\n        SET NEW.set_by = USER();\n    END IF;\nEND', 'ROW', 'BEFORE', None, None, 'OLD', 'NEW', datetime.datetime(2021, 9, 25, 10, 44, 24, 860000), 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION', 'mysql.sys@localhost', 'utf8mb4', 'utf8mb4_0900_ai_ci', 'utf8mb4_0900_ai_ci')]

### Before Update/Insert/Delete Trigger

Immutable column integrity check

%%sql
Drop Trigger if exists CovidData.check_constraint

Create Trigger CovidData.check_constraint
Before Insert
On CovidData.Countries 
For Each Row

Begin
    If new.continent is null then:
        signal sqlstate '50001'
            set message_text ='Please input the correct continent';
    End If;
End;

Looking a the last trigger created in the schema

In [70]:
%%sql
select *
from information_schema.triggers
order by created desc
limit 1

 * mysql+pymysql://root:***@localhost/CovidData
1 rows affected.

[('def', 'CovidData', 'check_constraint', 'INSERT', 'def', 'CovidData', 'Countries', 1, None, "Begin\n\n    If new.continent is null then\n        signal sqlstate '50001'\n            set message_text ='Please input the correct continent';\n\n    End If;\nEnd", 'ROW', 'BEFORE', None, None, 'OLD', 'NEW', datetime.datetime(2022, 2, 25, 15, 10, 26, 870000), 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION', 'root@localhost', 'utf8mb4', 'utf8mb4_0900_ai_ci', 'utf8mb4_0900_ai_ci')]

## Index

 A primary key is also an index, which allows us to locate data faster.

What is the overall goal of indicies in SQL?

Indicies make query faster. It provids the basis for both rapid random lookups and efficient access of ordered records and it is always on one or more columns.

%%sql
Drop table if exists Countries_copied
create table Countries_copied as
select * from Countries

In [72]:
%%sql
describe Countries_copied

 * mysql+pymysql://root:***@localhost/CovidData
6 rows affected.

[('iso_code', 'char(10)', 'NO', '', None, ''),
 ('location', 'varchar(128)', 'NO', '', None, ''),
 ('continent', 'varchar(128)', 'YES', '', None, ''),
 ('population', 'bigint', 'YES', '', None, ''),
 ('people_vaccinated', 'bigint', 'YES', '', None, ''),
 ('vaccination_rate', 'float', 'YES', '', None, '')]

In [73]:
%%sql
show index from Countries_copied

 * mysql+pymysql://root:***@localhost/CovidData
0 rows affected.

[]

The table 'Countries_copied' does not have any indexes.
Let's look at the performance of a simple query.

In [74]:
import time

In [75]:
start_time = time.time()
result = %sql select * from Countries_copied where iso_code like "%OWID%"
elapsed_time = time.time() - start_time
print("\nQuery elapsed time = ", elapsed_time)
print("\nResult = \n", result)

 * mysql+pymysql://root:***@localhost/CovidData
13 rows affected.

Query elapsed time =  0.007935047149658203

Result =
 +----------+---------------------+-----------+------------+-------------------+------------------+
| iso_code |       location      | continent | population | people_vaccinated | vaccination_rate |
+----------+---------------------+-----------+------------+-------------------+------------------+
| OWID_AFR |        Africa       |    None   | 1373486472 |     243691508     |     17.7425      |
| OWID_ASI |         Asia        |    None   | 4678444992 |     3370765900    |     72.0489      |
| OWID_EUN |    European Union   |    None   | 447189915  |     335049868     |     74.9234      |
| OWID_EUR |        Europe       |    None   | 748962983  |     506807372     |     67.6679      |
| OWID_HIC |     High income     |    None   | 1214930230 |     953887286     |     78.5137      |
| OWID_INT |    International    |    None   |    None    |        None       |       None       |
| OWID_LIC |      Low income     |    None   | 665149040  |      79672554     |     11.9782      |
| OWID_LMC | Lower middle income |    None   | 3330652550 |     1874330403    |     56.2752      |
| OWID_NAM |    North America    |    None   | 596581283  |     420935040     |     70.5579      |
| OWID_OCE |       Oceania       |    None   |  43219954  |      28427292     |     65.7735      |
| OWID_SAM |    South America    |    None   | 434260137  |     352193916     |     81.1021      |
| OWID_UMC | Upper middle income |    None   | 2513672790 |     2014894750    |     80.1574      |
| OWID_WRL |        World        |    None   | 7874965730 |     4922821028    |     62.5123      |
+----------+---------------------+-----------+------------+-------------------+------------------+

Now, Let's see how long it takes to execute the same query when there is an index in the table.

In [77]:
%%sql
show index from Countries

 * mysql+pymysql://root:***@localhost/CovidData
1 rows affected.

[('Countries', 0, 'PRIMARY', 1, 'iso_code', 'A', 238, None, None, '', 'BTREE', '', '', 'YES', None)]

In [76]:
start_time = time.time()
result = %sql select * from Countries where iso_code like "%OWID%"
elapsed_time = time.time() - start_time
print("\nQuery elapsed time = ", elapsed_time)
print("\nResult = \n", result)

 * mysql+pymysql://root:***@localhost/CovidData
13 rows affected.

Query elapsed time =  0.0069561004638671875

Result =
 +----------+---------------------+-----------+------------+-------------------+------------------+
| iso_code |       location      | continent | population | people_vaccinated | vaccination_rate |
+----------+---------------------+-----------+------------+-------------------+------------------+
| OWID_AFR |        Africa       |    None   | 1373486472 |     243691508     |     17.7425      |
| OWID_ASI |         Asia        |    None   | 4678444992 |     3370765900    |     72.0489      |
| OWID_EUN |    European Union   |    None   | 447189915  |     335049868     |     74.9234      |
| OWID_EUR |        Europe       |    None   | 748962983  |     506807372     |     67.6679      |
| OWID_HIC |     High income     |    None   | 1214930230 |     953887286     |     78.5137      |
| OWID_INT |    International    |    None   |    None    |        None       |       None       |
| OWID_LIC |      Low income     |    None   | 665149040  |      79672554     |     11.9782      |
| OWID_LMC | Lower middle income |    None   | 3330652550 |     1874330403    |     56.2752      |
| OWID_NAM |    North America    |    None   | 596581283  |     420935040     |     70.5579      |
| OWID_OCE |       Oceania       |    None   |  43219954  |      28427292     |     65.7735      |
| OWID_SAM |    South America    |    None   | 434260137  |     352193916     |     81.1021      |
| OWID_UMC | Upper middle income |    None   | 2513672790 |     2014894750    |     80.1574      |
| OWID_WRL |        World        |    None   | 7874965730 |     4922821028    |     62.5123      |
+----------+---------------------+-----------+------------+-------------------+------------------+

Calculate the percentage improvement in response time.

In [78]:
index_time = 0.0069561004638671875
noindex_time = 0.007935047149658203
improvement = ((index_time - noindex_time)/noindex_time)*100
improvement

-12.336998978426777

Conclusion:

When quering with index, the performance improved by around 12% than querying with no index.

# Data Exploration

## Using Group by and Partition Over

Looking at the rolling counts of new cases in each day in 2021 in USA

In [34]:
%%sql
select location, date, 
    sum(new_cases) over (partition by location order by date) rolling_count
from CovidDeaths
where date between '2021-01-01' and '2021-12-31' and location like '%States%'
limit 5

 * mysql+pymysql://root:***@localhost/CovidData
5 rows affected.

[('United States', '2021-01-01', 172374.0),
 ('United States', '2021-01-02', 454741.0),
 ('United States', '2021-01-03', 658746.0),
 ('United States', '2021-01-04', 844251.0),
 ('United States', '2021-01-05', 1074051.0)]

Looking at the first 5 countries in ASIA that had the highest total cases recorded in 2021

In [33]:
%%sql
select location, sum(new_cases) as total_newcases2021
from CovidDeaths
where date between '2021-01-01' and '2021-12-31' and continent='Asia'
group by location
order by total_newcases2021 desc

 * mysql+pymysql://root:***@localhost/CovidData
5 rows affected.

[('India', 24574870.0),
 ('Turkey', 7273898.0),
 ('Iran', 4969259.0),
 ('Indonesia', 3519522.0),
 ('Malaysia', 2645076.0)]

## Using Efficient Subquery

looking at the first 5 countries that has the highest deaths when its vaccination rate is over 50%

In [44]:
%%sql
select location, population,
    max(total_cases) as total_cases, max(total_deaths) as total_deaths
from CovidDeaths
where iso_code in
    (select distinct iso_code from Countries where vaccination_rate>50)
and continent is not null
group by location, population
order by total_deaths desc
limit 5

 * mysql+pymysql://root:***@localhost/CovidData
5 rows affected.

[('United States', 332915074.0, 78648651.0, 939064.0),
 ('Brazil', 213993441.0, 28361951.0, 645735.0),
 ('India', 1393409033.0, 42867031.0, 512622.0),
 ('Russia', 145912022.0, 15430540.0, 340101.0),
 ('Mexico', 130262220.0, 5418257.0, 315786.0)]

## Using View

Vaccinated population of each countries in 2020, 2021, 2022, and Total

%%sql 
Drop view if exists VaccinatedPopulation

Create view VaccinatedPopulation as
    with t1 as
        (select location, max(people_vaccinated) as '2020'
        from CovidVaccinations
        where date between '2020-01-01' and '2020-12-31'
        group by location),
    t2 as
        (select location, max(people_vaccinated) as '2021'
        from CovidVaccinations
        where date between '2021-01-01' and '2021-12-31'
        group by location),
    t3 as
        (select location, max(people_vaccinated) as '2022'
        from CovidVaccinations
        group by location)

        select t1.location, t1.2020,
               (IFNULL(t2.2021,0) - (IFNULL(t1.2020,0))) as '2021',
               (IFNULL(t3.2022,0) - (IFNULL(t2.2021,0)) - (IFNULL(t1.2020,0))) as '2022',
                t3.2022 as total_vaccinated
         from t1 join t2 join t3
         on t1.location = t2.location and t2.location=t3.location

Test

Looking at the average vaccinated people rate in 2021 and 2022 of each continent

In [52]:
%%sql
select continent, floor(avg(v.2021)) as average_2021,
       floor(avg(v.2022)) as avergae_2022
from VaccinatedPopulation v
join Countries c
using (location)
group by continent
having continent is not null
order by average_2021 desc

 * mysql+pymysql://root:***@localhost/CovidData
6 rows affected.

[('Asia', 64846049.0, 5237131.0),
 ('South America', 25366108.0, 1724400.0),
 ('North America', 11750890.0, 297729.0),
 ('Europe', 9932324.0, 387690.0),
 ('Africa', 3520994.0, 909760.0),
 ('Oceania', 2376830.0, 190980.0)]